<%- include("partials/header") -%>
<section class="contact-page">

</section>
<section class="contact-me">

<form action="" method="POST" class="contact-form">
    <label for="">Imię</label>
    <input type="text" name="imie" placeholder="Imię">
    <label for="Nazwisko"></label>
    <input type="text" name="nazwisko" placeholder="Nazwisko">
    <label for="">Telefon Kontaktowy</label>
    <input type="text" name="telefon" placeholder="Numer telefonu">
    <label for="">Adres e-mail</label>
    <input type="email" name="email" placeholder="e-mail">
    <label for="">Krótki opis produktu</label>
    <textarea name="opis" id="" cols="30" rows="10"></textarea>
    <button class="btn btn-warning" type="submit">Wyślij</button>
</form>
</section>
<%- include("partials/footer") -%>